/* General */

html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  background-color: #f4f0ef;
}

.glyphicon {
  color: #e67a90;
}

/* Header */

.header {
  height: 300px;
  width: 100%;
  background: url(../images/0003A.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 75%;
}

.header .text-container {
  position: absolute;
  top: 5%;
  width: 100%;
  color: white;
  opacity: 0.9;

  height: 100px;
  font-size: 36px;
  font-family: 'Parisienne', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Navigation */

.nav {
  line-height: 30px;
  padding: 10px 0 10px 0;

  margin: 0px;
  width: 100%;
  z-index: 100;
  transition: .25s;

  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active {
  color: #272727;
}

.nav-item {
  display: inline;
  margin: 0 20px 0 20px;
}

/* Stolen from Zack */
.back-top {
  display: none;
  position: absolute;
  left: 10px;
  bottom: 21px;
}

.back-top a {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/elevator.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.stuck {
  top: 0;
}

.sticky-wrapper {
  height: auto;
}

/* Info boxes */

.info-box {
  text-align: center;
  padding: 4px;
  margin-bottom: 6px;
}

.container a:link,
.container a:visited,
.container a:hover,
.container a:active {
  text-decoration: none;
}

.info-box p {
  margin: 0;
}

.date {
  height: 100px;

  font-size: 35px;
  line-height: 40px;
  padding: 10px 0 10px 0;

  background-color: #e7e7e7;
  color: #272727;
  font-family: 'Oswald', sans-serif;
}

.venue, .time {
  height: 100px;
}

.venue {
  line-height: 45px;
  font-size: 22px;
  font-family: 'Pacifico', cursive;

  background-color: #F1C8C8;
  color: #272727;
}

.time {
  font-size: 70px;
  line-height: 90px;

  background-color: #333333;
  color: white;
  font-family: 'Lato', sans-serif;
}

/* Hashtag */

.hashtag-photo {
  background: url(../images/0285A.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 75%;
  margin-bottom: 6px;
  height: 300px;
}

.hashtag-photo img {
  max-width: 50px;
  max-width: 20px;
  margin-top: -6px;
}

.hashtag-photo .text-container {
  margin-top: 20px;
  height: 60px;
  line-height: 44px;
  font-size: 24px;
  padding: 4px;

  background-color: white;
  opacity: 0.5;
  color: #373737;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.hashtag-photo .text-container p {
  margin: 0;
}

.instagram-row > .col-sm-6.left {
  padding-left: 0;
}

.instagram-row > .col-sm-6.right {
  padding-right: 0;
}

.gif-photo,
.instagram-photo, 
.more-photos-link {
  background-color: lightgray;
  font-size: 14px;
  color: #545454;
}

.instagram-empty p,
.more-photos-link p {
  padding: 10px;

  display: table-cell;
  vertical-align: middle;
}

.more-photos-link:hover {
  background-color: #c5c5c5;
}

.instagram-photo img,
.gif-photo img {
  height: 100%;
  width: 100%;
}

.instagram-empty,
.more-photos-link {
  height: 100%;
  width: 100%;
  display: table;
}

.photo-col {
  margin-bottom: 6px;
}

.arrow {
  font-size: 42px;
}

/* Registry */

.registry-title-row {
  margin-top: 54px;
}

.registry-title {
  padding: 6px;
}

.registry-title,
.hashtag-photo .text-container,
.hashtag-photo .inner-text-container {
  border: 2px solid #373737;
}

.registry-title h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 0 4px 0;
}

.registry-title-row .bar {
  width: 100%;
  margin-top: 26px;
  height: 2px;
  background-color: #333333;
}

.registry-icons-row {
  margin-top: 20px;
}

.registry-icon {
  margin-left: 20px;
  display: inline;
}

.registry-icon:first-child {
  margin-left: 0;
}

.registry-icon img {
  max-width: 75px;
}

/* Footer */

.footer {
  margin-top: 30px;

  font-family: 'Oswald', sans-serif;

  height: 80px;
  line-height: 80px;
  background-color: #F1C8C8;
  font-size: 20px;
}

.footer img {
  height: 60px;
  margin-top: -7px;
}

.attribution {
  font-size: 13px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.attribution p {
  margin: 0;
}

.attribution a:link,
.attribution a:visited,
.attribution a:hover,
.attribution a:active {
  color: #272727;
  text-decoration: underline;
}

.attribution a:hover {
  color: #e67a90;
}

/* Overrides */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 3px;
  padding-right: 3px;
}

.rsvp-form-container {
  text-align: center;
  /*border: 1px solid gray;*/
}

.rsvp-form-container ul {
  list-style-type: none;
  padding: 0;
}

.rsvp-form-container li label {
  font-weight: normal;
}

.rsvp-form-container li {
  display: inline;
  padding: 0 10px 0 10px;
}

.rsvp-title {
  background-color: #343434;  
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 150px;
  line-height: 150px;
  font-size: 80px;
  margin-bottom: 6px;
}

.confirmation-title {
  margin: 60px 0 40px 0;
  font-size: 80px;
  font-family: 'Parisienne', cursive;
}

.confirmation-home-button {
  height: 75px;
  line-height: 75px;
  font-size: 40px;
  font-family: 'Pacifico', cursive;

  background-color: #F1C8C8;
  color: #272727;
}

.rsvp-icon-box {
  height: 165px;
  width: 100%;
  background-color: #F1C8C8;
  margin-bottom: 6px;
  display: table;
}

.rsvp-icon-box-inner {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  vertical-align: middle;
}

.rsvp-icon-box img {
  display: block;
  margin: auto;
  width: 50%;
}

.rsvp-icon-box.alt {
  background-color: lightgray;
}

.rsvp-attribution {
  margin-top: 30px;
}

/* Form styling */

.required-message {
  display: none;
}

.ss-form-entry {
  margin: 25px 0 25px 0;
}

.ss-choice-label img {
  width: 65px;
}

.ss-required-asterisk {
  display: none;
}

#navigation-table {
  width: 100%;
}

#ss-submit {
  display: block;
  margin: auto;
  border: none;
  width: 150px;
  height: 50px;

  background-color: #343434;  
  color: white;

  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.ss-q-item-label {
  display: block;
}

/* NYC */

.nav.docked {
  position: relative;
}

.nyc-header {
  height: 300px;

  background: url(../images/0076A.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 55%;
  margin-bottom: 6px;
}

.nyc-header-inner {
  padding: 50px 0 50px 0;
}

.nyc-header .text-container {
  margin: auto;
  line-height: 100px;
  width: 300px;
  height: 200px;

  border-left: 4px solid white;
  border-right: 4px solid white;
  color: white;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);

  font-size: 36px;
}

.nyc-header .text-container p {
  margin: 0;
}

.nyc-header .text-container .plan {
  font-family: 'Lato', sans-serif;
  word-spacing: 15px;
  font-size: 50px;
  font-weight: 300;
}

.nyc-header .text-container .adventure {
  font-family: 'Parisienne', cursive;
  font-size: 64px;
}

.nyc-info-box {
  background-color: #e7e7e7;
  color: #272727;
  text-align: left;
  margin-top: 20px;
}


.nyc-info-box h3,
.nyc-info-box h4 {
  text-align: center;
  margin-top: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nyc-info-box h3 {
  height: 45px;
  line-height: 45px;
}

.nyc-info-box h4 {
  height: 40px;
  line-height: 40px;
}

.nyc-info-box h3 span,
.nyc-info-box h4 span {
  background-color: black;
  padding: 0 20px 0 20px;
}

.nyc-info-box .number-container {
  float: left;
  height: 100%;
  width: 150px;
  padding: 20px 0 0 20px;
}

.nyc-info-box .text-container {
  padding: 20px;
  font-size: 16px;
}

.nyc-info-box img {
  width: 150px;
}

.nyc-coming-soon {
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Parisienne', cursive;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .header {
    height: 100%;;
  }

  .hashtag-photo {
    height: 868px;
  }

  .header .text-container {
    height: 200px;
    font-size: 80px;
  }

  .date {
    height: 206px;
    font-size: 60px;
    line-height: 100px;
    padding: 0;
  }

  .sticky-wrapper {
    height: 60px;
  }

  .nav {
    line-height: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    padding: 0;
  }

  .stuck {
    position: fixed;
  }

  .sticky-wrapper {
    height: 60px;
  }

  .registry-icon img {
    max-width: 150px;
  }

  .hashtag-photo .text-container {
    margin-top: 120px;
    height: 110px;
    line-height: 86px;
    font-size: 60px;
    padding: 8px;
  }

  .hashtag-photo img {
    max-width: 50px;
  }

  .venue {
    font-size: 22px;
  }

  .footer {
    font-size: 30px;
  }

  .footer img {
    height: 80px;
  }

  .instagram-photo, 
  .more-photos-link {
    font-size: 22px;
  }

  .instagram-empty p {
    padding: 20px;
  }

  .nyc-header {
    height: 400px;
  }

  .nyc-header-inner {
    padding: 0;
  }

  .nyc-header .text-container {
    position: absolute;
    margin-top: 75px;
    margin-left: 50px;
    height: 250px;
  }

  .nyc-info-box .text-container {
    margin-left: 175px;
  }

  .nyc-info-box h3,
  .nyc-info-box h4 {
    text-align: left;
  }

  .nyc-header .text-container .plan {
    margin-top: 25px;
  }

  .nyc-header .text-container .adventure {
    margin-bottom: 25px;
  }

  .nyc-coming-soon {
    font-size: 60px;
  }

  #twitter-widget-0 {
    width: 100% !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .date {
    font-size: 80px;
  }

  #twitter-widget-0 {
    height: 580px !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

}